<template>
  <div>
    <div class="calcInputs" >
      <input :placeholder="interest.text" v-model.number="interest.data" />
      <input
        :placeholder="baseDeposit.text"
        v-model.number="baseDeposit.data"
      />
      <input
        :placeholder="depositAddition.text"
        v-model.number="depositAddition.data"
      />
      <input
        :placeholder="depositLength.text"
        v-model.number="depositLength.data"
      />
    </div>
    <div class="results ">
      <div>
        total profit:
        {{ calculated[calculated.length - 1].totalProfit | currency }}
      </div>
      <div>
        total profit in percent
        {{
          Math.round(
            (calculated[calculated.length - 1].totalProfit * 100) /
              (baseDeposit.data + calculated.length * depositAddition.data)
          ) || 0
        }}%
      </div>
      <div>
        total deposit till now
        {{ calculated[calculated.length - 1].deposit | currency }}
      </div>
      <div>
        lastProfit {{ calculated[calculated.length - 1].profit | currency }}
      </div>
    </div>
    <table>
      <tr>
        <th v-for="(header, index) in tableHeaders" :key="index">
          {{ header }}
        </th>
      </tr>
      <tr v-for="(item, index) in calculated" :key="index">
        <td>{{ index + 1 }}</td>
        <td>{{ item.profit | currency }}</td>
        <td>{{ item.deposit | currency }}</td>
        <td>{{ item.totalProfit | currency }}</td>
        <td>
          {{
            Math.round(
              (item.totalProfit * 100) /
                (baseDeposit.data + (index + 1) * depositAddition.data)
            ) || 0
          }}%
        </td>
      </tr>
    </table>
  </div>
</template>

<script>
/* eslint-disable */
export default {
  name: "CompoundCalc",
  props: {},
  data: () => {
    return {
      test: "test",
      interest: {
        text: "interest in percent",
        data: null
      },
      baseDeposit: {
        text: "baseDeposit",
        data: null
      },
      depositAddition: {
        text: "depositAddition",
        data: null
      },
      depositLength: {
        text: "depositLength",
        data: null
      },
      tableHeaders: [
        "count",
        "profit",
        " total deposit amount",
        " total profit ",
        "total profit in percent"
      ]
    };
  },
  computed: {
    calculated: function() {
      return this.compoundCalc(
        this.baseDeposit.data,
        this.depositAddition.data,
        this.interest.data,
        this.depositLength.data,
        [],
        0
      );
    }
  },
  filters: {
    capitalize: function(value) {
      if (!value) return "";
      value = value.toString();
      return value.charAt(0).toUpperCase() + value.slice(1);
    },
    currency: function(value) {
      if (typeof value !== "number") {
        return value;
      }
      var formatter = new Intl.NumberFormat("en-US", {
        style: "currency",
        currency: "USD",
        minimumFractionDigits: 0
      });
      return formatter.format(value);
    }
  },
  methods: {
    compoundCalc: function(
      base,
      monthly,
      interest,
      length,
      resultArray,
      totalProfit
    ) {
      let result = {};
      result.profit = Math.round(((base + monthly) * interest) / 100);
      result.deposit = Math.round(base + monthly + result.profit);
      totalProfit == 0
        ? (result.totalProfit = result.profit)
        : (result.totalProfit = totalProfit + result.profit);
      resultArray.push(result);
      if (length <= 1) return resultArray;
      else {
        return this.compoundCalc(
          result.deposit,
          monthly,
          interest,
          length - 1,
          resultArray,
          result.totalProfit
        );
      }
    }
  }
};
</script>


<style scoped>
.calcInputs {
  margin: auto;
  max-width: 900px;
  display: flex;
  justify-content:space-around;
  flex-direction: row;
  flex-wrap: wrap;
}
input{
margin:5px;
  text-align: center;
  border: none;
  border-bottom: 2px solid rgb(98, 117, 151);

}
 .resultbox {
       display: inline;

 }
 .results{
       /* float: left; */
margin: auto;
margin-top: 40px;
margin-bottom: 40px;
  display: flex;
    justify-content:space-around;
  max-width: 900px;
  text-align: center;
  flex-direction: row;
  flex-wrap: wrap;



 }
table{
  border-collapse: collapse;
  width: 100%;
}
th{
  /* border: 1px solid black; */
  height: 40px;
  text-align: center;
  border-bottom: 1px solid #ddd;
 background-color: #f5f5f5;

}
td {
  /* border: 1px solid black; */
    text-align: center;
border-bottom: 1px solid #ddd;
}
tr:hover {background-color: #f5f5f5;}


</style>
