<template>
  <div id="app">
    <compound-calc></compound-calc>
  </div>
</template>

<script>
import CompoundCalc from "./components/CompoundCalc.vue";

export default {
  name: "app",
  components: {
    CompoundCalc
  }
};
</script>

<style></style>
